body, h1{
	margin: 0;
}
a{
	text-decoration: none;
}
/*ukuran normal/ dekstop*/
.container{
	width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;

}

/*bagian header*/
#header{
	width: 100%;
	padding: 5px 0px 5px 0px;
	background: purple;
	position: fixed;
	overflow: hidden;
	z-index: 1;
}
#logo img{
	width: 120px;
}

#menu ul{
	list-style: none;
}
#menu li{
	display: inline-block;
}
#menu a{
	text-decoration: none;
	color: white;
	padding: 40px 20px 40px 20px;
}
#menu a:hover{
	background: rgba(0, 0, 0, 0.5);
}
.clear{
	clear: both;
}


/*bagian content*/
#content{
	display: flex;
}
.bungkus-content{
	width: 1200px;
	padding: 5px 0px;
	margin-top: 95px;
	display: flex;
	align-items: flex-start;
}
.sidebar{
	width: 600px;
	position: sticky;
	top: 100px;

	background: limegreen;
}
.artikel-terbaru ul{
	list-style: none;
	padding: 5px 0px 5px 0px;
}
.artikel-terbaru li:hover{
	background: yellow;
}
.artikel{
	flex-grow: 1;
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	background: yellow;

}
.blog-artikel{
	width: 400px;
	background: pink;
	margin-bottom: 10px;
	padding: 10px;
}
.img-artikel img{
	width: 400px;
	max-width: 100%;
}

/*bagian footer*/
#footer{
	width: 100%;
	background: black;
	color: white;
}
#footer a{
	color: white;
}
.bungkus-footer{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	padding-bottom: 0;
	border-bottom: 1px solid;
}
.bungkus-footer ul{
	list-style: none;
	padding: 0;
}
#copyright{
	margin: auto;
	padding: 5px 0px;
}


/* ukuran iPad Pro*/
@media screen and (min-width: 1000px) and (max-width: 1199px){
	.container{
		width: 950px;
	}
	.sidebar{
		width: 400px;
	}
	.blog-artikel{
	width: 340px;
	
	}
	.img-artikel img{
	width: 340px;
	}
}

/*ukuran tablet/iPad */
@media screen and (min-width: 768px) and (max-width: 1000px){
	.container{
		width: 720px;
		margin: auto;

	}
	#logo img{
	width: 95px;
	}
	.bungkus-content{
		margin-top: 78px;
	}
	.sidebar{
		width: 400px;
		
	}
	.blog-artikel{
	width: 220px;
	
	}
	.img-artikel img{
	width: 220px;
	}
}

/*ukuran mobile*/
@media screen and (max-width: 765px){
	.container{
		width: 100%;

	}
	#logo img{
		width: 50px;
		padding-left: 10px;
	}
	.bungkus-content{
		margin-top: 60px;
	}
	.sidebar{
		display: none;
	}
	#menu a{
		font-size: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.img-artikel img{
	width: 100%;
	}
	.blog-artikel{
	width: 100%;
	
	}
}